@tailwind base;
@tailwind components;
@tailwind utilities;

/* .testing {
  background-color: #ddd;
  border: 2px solid #777;
}

:root {
  --primary: #1eccac;
  --leadFont: 1.2rem;
} */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

@media (max-width: 786px) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    backdrop-filter: blur(20px);
  }
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 40;
  height: 80px;
  box-shadow: 0 10px 5px 2px rgba(0, 0, 0, 5%);
}

.sticky .section-hero {
  margin-top: 96px;
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.cardshadow {
  filter: drop-shadow(30px 30px 0px #e7dbda);
}

.cardshadow:hover {
  filter: drop-shadow(30px 30px 10px #bbb);
}
html {
  scroll-behavior: smooth;
}

.omnifood {
  background-image: url("../build/images/omnifood-card.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}
.sales {
  background-image: url("../build/images/sales-card.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}
.lisbon {
  background-image: url("../build/images/lisbon.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}
